$secitionHeight: 380px;

.landing-section {
  width: 100%;
  height: $secitionHeight;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  text-decoration: none;

  .bg-img-container {
    position: absolute;
    top: 0;
    left: 0;
    height: $secitionHeight;
    width: 100%;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    * {
      height: $secitionHeight;
      width: 100%;
    }
  }

  img {
    z-index: 0;
    flex-shrink: 0;
    width: 100%;
    object-fit: cover;
    height: $secitionHeight;
  }

  .img-mask {
    width: 100%;
    height: $secitionHeight;
    background-color: rgba(45, 46, 48, 0.6);
    transition: background-color 200ms;
    z-index: 1;
    position: absolute;
  }
  
  img {
    -webkit-filter: grayscale(90%);
    -moz-filter: grayscale(90%);
    filter: grayscale(90%);
    transition: all 200ms ease;
    object-fit: cover;
  }
  &:hover img {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
  }

  .icon {
    fill: #ebebeb;
    height: 110px;
    width: 110px;
    margin-bottom: 0px;
    z-index: 1;
  }

  h2 {
    font-size: 46px;
    color: #ebebeb;
    font-weight: 600;
    z-index: 1;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  p {
    font-size: 18px;
    color: #ebebeb;
    z-index: 1;
    text-align: center;
    max-width: 600px;
    opacity: 0.9;
    padding: 0px 15px;
  }
}

@media only screen and (max-width: 1000px) {
  .landing-section {
    height: 360px;

    img {
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      filter: grayscale(0%);
    }

    h2 {
      font-size: 36px;
      margin-bottom: 0px;
      margin-top: 20px;
    }
    p {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .landing-section {
    height: 320px;

    .icon {
      height: 100px;
      width: 100px;
    }

    h2 {
      font-size: 32px;
      margin-top: 10px;
    }
  }
}
