.photo-card-container,
img {
  /* Just in case there are inline attributes */
  width: 100%;
  height: auto;
}
.photo-card-container {
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
  filter: brightness(100%) contrast(1);
  -webkit-filter: brightness(100%) contrast(1);

  &:hover img {
    animation: brightnessAnimation 0.2s forwards;
  }
  @keyframes brightnessAnimation {
    to {
      filter: brightness(120%) contrast(0.9);
      -webkit-filter: brightness(120%) contrast(0.9);
    }
 }
}
