.photo-card-container,
img {
  /* Just in case there are inline attributes */
  width: 100%;
  line-height: 0;
  display: flex;
}
.photo-card-container {
  cursor: pointer;
  position: relative;
  filter: brightness(100%) contrast(1);
  -webkit-filter: brightness(100%) contrast(1);
  padding-bottom: 10px;

  &:hover img {
    animation: brightnessAnimation 0.2s forwards;
  }
  @keyframes brightnessAnimation {
    to {
      filter: contrast(0.9);
      -webkit-filter: contrast(0.9);
    }
  }
}
