.photography-page-content {
  // page layout
  width: 100%;
  padding: 40px 120px;
  // content layout
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 3px;
  -moz-column-count: 3;
  -moz-column-gap: 3px;
  column-count: 3;
  column-gap: 10px;

  // fancy bg
  background-color: #2d2e30;
  opacity: 1;
  background-image: radial-gradient(#a1ffa8 0.9px, transparent 0.9px),
    radial-gradient(#a1ffa8 0.9px, #2d2e30 0.9px);
  background-size: 36px 36px;
  background-position: 0 0, 18px 18px;

  @media only screen and (max-width: 1200px) {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
  @media only screen and (max-width: 800px) {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
  @media only screen and (max-width: 1100px) {
    padding: 40px 60px;
  }
  @media only screen and (max-width: 600px) {
    padding: 40px 30px;
  }
  @media only screen and (max-width: 400px) {
    padding: 40px 16px;
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
