---
import { Icon } from "astro-icon";
---

<footer class="footer-container">
  <svg
    class="gradient-left"
    width="300"
    height="300"
    viewBox="0 0 300 300"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M0 0L300 300H0V0Z" fill="#2F2F2F"></path>
    <path d="M0 60.0002L240 300H0V60.0002Z" fill="#404040"></path>
    <path d="M0 120L180 300H0V120Z" fill="#5E5E5E"></path>
    <path d="M0 180L120 300H0V180Z" fill="#7B7B7B"></path>
    <path d="M0 240L60 300H0V240Z" fill="#989898"></path>
  </svg>

  <div class="funny-title">Useless Footer🔥💯</div>
  <a class="scroll-to-top" href="/">
    <span>Take me back to the good stuff</span><Icon name="chevron-up" />
  </a>
  <div class="copyright">
    Copyright 2023 Oskar Mroz etc. etc. as if this meant anything.
  </div>
  <svg
    class="gradient-right"
    width="300"
    height="300"
    viewBox="0 0 300 300"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M0 0L300 300L300 1.31134e-05L0 0Z" fill="#2F2F2F"></path>
    <path d="M60 0L300 240L300 1.04907e-05L60 0Z" fill="#404040"></path>
    <path d="M120 0L300 180L300 7.86805e-06L120 0Z" fill="#5E5E5E"></path>
    <path d="M180 0L300 120L300 5.24537e-06L180 0Z" fill="#7B7B7B"></path>
    <path d="M240 0L300 60L300 2.62268e-06L240 0Z" fill="#989898"></path>
  </svg>
</footer>

<style>
  .footer-container {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 120px;
    background-color: #232323;
    position: relative;
  }
  .funny-title {
    font-size: 36px;
    font-weight: 600;
    color: #e555d6;
    text-shadow: 1.5px 1.5px 0px #a1ffa8;
  }
  .scroll-to-top {
    color: #a1ffa8;
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
  }
  .scroll-to-top span {
    margin-right: 12px;
    text-shadow: 1.5px 1.5px 0px #e555d6;
  }
  .scroll-to-top [astro-icon] {
    fill: #a1ffa8;
    height: 14px;
    filter: drop-shadow(2px 2px 0px #e555d6);
  }
  .scroll-to-top:hover [astro-icon] {
    animation-name: arrowPointUp;
    animation-duration: 0.4s;
  }
  .copyright {
    opacity: 0.5;
  }
  .gradient-left,
  .gradient-right {
    position: absolute;
    z-index: 0;
    bottom: 0;
  }
  .gradient-left {
    left: 0;
  }
  .gradient-right {
    right: 0;
  }

  @keyframes arrowPointUp {
    0% {
      transform: translateY(0%);
    }
    25% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(0%);
    }
    75% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0%);
    }
  }
</style>
