header {
    width: 100%;
    background-color: #232323;
    height: 150px;
    display: flex;
    align-items: center;
    padding: 0px 120px;
  }

  header h1 {
    font-size: 70px;
    font-weight: 600;
  }

  .wave {
    position: relative;
    /* -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2)); */
  }

  .wave span {
    position: relative;
    display: inline-block;
    color: #e555d6;
    text-shadow: 3px 3px 0px #a1ffa8;
    animation: animate 10s ease-in-out infinite;
    animation-delay: calc(0.01s * var(--i));
  }

  @keyframes animate {
    0% {
      transform: translateY(0px);
    }

    1% {
      transform: translateY(-25px);
    }
    3% {
      transform: translateY(0px);
    }

    100% {
      transform: translateY(0px);
    }
  }
  @media only screen and (max-width: 1090px) {
    header h1 {
      font-size: 54px;
    }
  }
  @media only screen and (max-width: 1000px) {
    header {
      padding: 0px 60px;
      height: 130px;
    }
    header h1 {
      font-size: 50px;
      font-weight: 600;
    }
  }
  @media only screen and (max-width: 800px) {
    header h1 {
      font-size: 40px;
    }
  }
  @media only screen and (max-width: 600px) {
    header {
      padding: 0px 30px;
      height: 110px;
    }
    header h1 {
      text-align: center;
      font-size: 34px;
      font-weight: 600;
    }
  }